.employer__box__image {
    text-align: center;
    margin-bottom: 20px;
}

.employer__box__image img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
}

.employer__box__tag-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.employer__box__footer {
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
}