@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    
    margin: 0;
    padding: 0;
    font-family:  "Lexend", sans-serif !important;
    box-sizing: border-box;
    list-style-type: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
border-radius: 7px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d8dec;
}