.box-title{
    font-size : 18px;
    font-weight : 500;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.box-title svg{
    color : #a6a6a6;
}
.box-update-link{
    font-size: 15px;
    font-weight: 500;
}
.card-active-1{
    background-color: #dae9ff;
    border-radius: 5px;
    transition: all 0.3s;
    
}
.card-active-2{
    background-color: #f7d3d6;
    border-radius: 5px;
    transition: all 0.3s;
}
.card-active-1:hover{
        border: #0E2EED 1px solid;
}
.card-active-2:hover{
    border: #ea1e30 1px solid;
}
.card-active-1 p{
    color: #0E2EED;
    font-size: 30px;
    font-weight: 600;
}
.card-active-2 p{   
    color: #ea1e30;
    font-size: 30px;
    font-weight: 600;


}